@{
    ViewBag.Title = "contactus";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div style="background-color:steelblue;width:119%;height:100px;margin-left:-105px;margin-right:0px">
    @*<div style="float:left;height:100px;padding:40px"><h4 style="color:lightskyblue">business plan</h4></div>*@
    <div style="float:left;color:white;padding:40px;height:100px"><h4><a href="@Url.Action("contactus", "contactus")" style="color:white">contact us</a></h4></div>
    <div style="float:right;padding-right:100px;color:white;height:100px">
       <div style="float:left;color:white;padding:40px;height:100px"><h4><a href="@Url.Action("index", "home")" style="color:lightskyblue">home</a></h4></div>
       <div style="float:right;color:white;height:100px;padding:40px"><h4><a href="@Url.Action("contactus", "contactus")" style="color:lightskyblue">contact us</a></h4></div>     
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8" style="height:auto">
            <form action="/action_page.php">
                <br /><br />
                <div class="form-group" style="width:100%">
                @*<label for="email">User ID:</label>*@
                <input type="email" class="form-control" id="email" placeholder="Your Email" name="email">
                </div>
                <div class="form-group"  style="width:100%">
                @*<label for="pwd">Password:</label>*@
                <input type="password" class="form-control" id="pwd" placeholder="Your Password" name="pwd">
                </div>
                <div class="form-group" style="width:100%">
                @*<label for="email">User ID:</label>*@
                <input type="email" class="form-control" id="phoneno" placeholder="Your Phone No" name="email">
                </div>
                <div class="form-group"  style="width:100%">
                @*<label for="pwd">Password:</label>*@
                <input type="password" class="form-control" id="msg" placeholder="Your Message" name="pwd">
                </div>
                <button type="submit" class="btn btn-default" style="margin-left:150px;background-color:darkblue;color:white">Send Message</button>
            </form>
        </div>
        <div class="col-md-4" style="height:auto">
           @*<div class="col-md-4 col-sm-5 col-xs-12">*@<br /><br />
            <div class="holdingInfo patternbg">
			   <h3>Get in touch</h3>
              <p style="font-size:14px;text-align:justify">Please Write To us using the contact form  if you would like to know more about   GIKMART opportunity, share ideas,give feedback,or would like to request a call back</p>
              <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>  A-209,<br/> Signature 2 Business Park<br/>B/H Hotel Sabar, Sarkhej-Sanand Chokdi<br/>Sarkhej, Ahmedabad-380007  </li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> 07966173536</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@gikmart.net">info@gikmart.net</a> </li>
              </ul>
            </div>
           @*</div>*@
        </div>     
    </div>
</div>
