@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div style="background-color:steelblue; width:118%;height:100px;margin-left:-105px;margin-right:0px">
    @*<div style="float:left;height:100px;padding:40px"><h4 style="color:lightskyblue">business plan</h4></div>*@
 <div style="float:left;color:white;padding:40px;height:100px"><h4><a href="@Url.Action("registration", "registration")" style="color:white">Registration</a></h4></div>
    <div style="float:right;padding-right:100px;color:white;height:100px">
       <div style="float:left;color:white;padding:0px;height:100px;margin-top:40px"><h4><a href="@Url.Action("index", "home")" style="color:lightskyblue">Home</a></h4></div>
       <div style="float:left;color:white;padding:10px;height:100px;margin-top:30px"><h4><a href="@Url.Action("Index", "login")" style="color:lightskyblue">Login</a></h4></div>     
    </div>
 </div>
<br />
<div class="panel panel-default" style="margin-right:25%;margin-left:25%">
    <div style="margin-left:0%;margin-top:0%">
       <div class="row" style="text-align:center;background-color:#006699;width:100%;margin-left:0px;color:white"><h2><b>LOGIN</b></h2></div>
       <br />
       <form action="/action_page.php">
          <div class="form-group" style="width:100%">
            <label for="email">User ID:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group"  style="width:100%">
           <label for="pwd">Password:</label>
           <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
          </div>
          <button type="submit" class="btn btn-default" style="margin-left:15%">Submit</button>
       </form>
    </div>
</div>


