@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
}
<div class="container" style="width:1349px">
     <div class="rows" style="height:60px;background-color:#3366cc;width:1354px;margin-left:-20px;text-align:center">
          <div class="col-md-4" style="color:whitesmoke;margin-top:20px">
               <h3>WELCOME LETTER</h3>
          </div>
          <div class="col-md-4"  style="color:whitesmoke;margin-top:20px">
                <h4><b>Welcome Ganesh Upadhyay</b></h4>
          </div>
          <div class="col-md-4"  style="color:whitesmoke;margin-top:20px">
               <h5><b>User ID : </b>GIC619136</h5>
          </div>
     </div>
</div>
<!--page title end-->
<br />
<section class="content" style="width:1300px"> 
         <div class="row mar_gin" style="width:1300px">
              <div class="col-md-12" style="width:1300px">
                   <div class="col-md-12 col-sm-12 welcome" style=" ">
                        <div class="col-md-4">
                             <div class="u-profilepic">
                                  <img src="~/Images/team_member2.png" alt="" class="img-responsive">
                             </div>
                        </div>
                        <div class="col-md-8" style="">
                        <div class="profile-info table-responsive" style="">
                             <table class="table">
                                    <tbody>
                                           <tr>
                                               <td><strong> User ID</strong></td>
                                               <td>:</td>
                                               <td>GIC619136</td>
                                           </tr>
                                           <tr>
                                               <td><strong>Sponsor ID</strong></td>
                                               <td>:</td>
                                               <td>gic983103</td>
                                           </tr>
                                           <tr>
                                               <td><strong>Name </strong></td>
                                               <td>:</td>
                                               <td>Ganesh Upadhyay</td>
                                           </tr>
                                           <tr>
                                               <td><strong>Password</strong></td>
                                               <td>:</td>
                                               <td>123456</td>
                                           </tr>
                                           <tr>
                                               <td><strong>Join Date </strong></td>
                                               <td>:</td>
                                               <td>17-08-2017</td>
                                           </tr>
                                    </tbody>
                             </table>
                        </div>
                   </div>
                   <div class="wel-text" style="">      
                        <p>Dear <strong></strong></p>
                        <p>Congratulations on Your Decision To Soar Sky High with Us!</p>
                        <p>Welcome to GICMART ! We wish you a great success and assure you   that you will enjoy being a part of our successful Organization!.</p><br>
                        <p>Winning Regards,</p>
                        <p>www.gicmart.in</p>
                   </div>
              </div>            
         </div>
    </div>
</section>

