@{
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
    ViewBag.Title = "Index";
}

<div class="container" style="width:1365px">
  <div class="rows" style="height:60px;background-color:#3366cc;width:1365px;margin-left:-15px">
    <div class="col-md-4" style="color:whitesmoke;margin-top:20px">
        <h3>MY SPONSOR</h3>
    </div>
    <div class="col-md-4"  style="color:whitesmoke;margin-top:20px">
      <h4><b>Welcome Ganesh Upadhyay</b></h4>
    </div>
    <div class="col-md-4"  style="color:whitesmoke;margin-top:20px">
      <h5><b>User ID : </b>GIC619136</h5>
    </div>
	  </div>
</div>
<!--page title end-->
<br />
<section class="content" style="height:400px">
 
 <div class="row mar_gin" style="width:1381px">
            
                <div class="col-md-12" style="width:1381px">
             
<h4><b>My Sponsor List</b></h4>
<div class="s1 table-responsive"><table class="table table-bordered">
                <tbody>
				
                    <tr>
                  <th>Sr.No.</th>
                  <th>Member ID</th>
                  <th>Name</th>
				  <th>Reg.Date</th>
                  <th>Mobile</th>
                  
                </tr>
				                
               
              </tbody></table></div>            </div>
        </div>

</section>

