@{
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
    ViewBag.Title = "Index";
}


<!--page title end-->
<br />
<section class="content" style="height:400px">
 
 <div class="row mar_gin" style="width:1381px">
            
                <div class="col-md-12" style="width:1381px">
             
<h4><b>My Sponsor List</b></h4>
<div class="s1 table-responsive"><table class="table table-bordered">
                <tbody>
				
                    <tr>
                  <th>Sr.No.</th>
                  <th>Member ID</th>
                  <th>Name</th>
				  <th>Reg.Date</th>
                  <th>Mobile</th>
                  
                </tr>
				                
               
              </tbody></table></div>            </div>
        </div>

</section>

