@{
    ViewBag.Title = "mybusinessplan";
}
<h2>business plan</h2>
<div >
<table class="table table-responsive">
    <tr>
        <th>

        </th>
        <th>
       LEVEl
        </th>
        <th>
         POST
        </th>
        <th>
         MEMBER
        </th>
        <th>
         INCOME
        </th>
    </tr>
    <tr>
        <td>1</td>
        <td>director</td>
        <td>45756</td>
        <td><span class="img-responsive"> <img src="~/Images/ivoltaa-dual-usb.jpeg"/></span></td>
        <td></td>
    </tr>
</table>
</div>

