@{
    Layout = "~/Views/Shared/_master.cshtml";
    ViewBag.Title = "Index";
}
<div class="container" style="width:auto;padding-left:-300px">
  <div class="rows" style="height:60px;background-color:#3366cc;width:1200px;padding-left:-100px">
    <div class="col-md-4" style="color:whitesmoke;margin-top:15px">
        <h3>MY-RE-JOIN ENTRY LIST</h3>
    </div>
    <div class="col-md-4"  style="color:whitesmoke;margin-top:15px">
      <h4><b>Welcome Ganesh Upadhyay</b></h4>
    </div>
    <div class="col-md-4"  style="color:whitesmoke;margin-top:15px">
      <h5><b>User ID : </b>GIC619136</h5>
    </div>
	<!--    <h3>Level Report</h3>
    <ul>
      <li><a href="dashboard.php">Dashboard</a></li>
      <li><a href="#">Level Report</a></li>
    </ul>-->
  </div>
</div>
<!--page title end-->
<br />
<section class="content">
 
 <div class="row mar_gin">
            
                <div class="col-md-12">
             
<h4>My Re-Join Entry List</h4>
<div class="s1 table-responsive"><table class="table table-bordered">
                <tbody>
				
                    <tr>
                  <th>Sr.No.</th>
                  <th>Member ID</th>
                  <th>Name</th>
				  <th>Reg.Date</th>
                  <th>Mobile</th>
                  
                </tr>
				                
               
              </tbody></table></div>            </div>
        </div>

</section>
